<a href="https://colab.research.google.com/github/jayasaireddy2802/learn-python/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **BASICS**

In [ ]:
name = input("enter the name ")
print("hello "+name)
print("hello" ,end=" ")
print(name)
print("hello ",name,sep="see ")
# f string. Do not give space after the f
print(f"hello {name}")

enter the name sai
hello sai
hello sai
hello see sai
hello sai

In [ ]:
name = input("enter the name")
print(name)
# Removes the white spaces at beginning
name = name.strip()

# Capitalizes the word of very first letter
name = name.capitalize()

print(name)

enter the name                sai         reddy
                sai         reddy
Sai         reddy

In [ ]:
name = input("enter the name")
print(name)

name = name.title()
print(name)

enter the namesai reddy
sai reddy
Sai Reddy

In [ ]:
name = input("enter the name").strip().title()
print(name)

enter the name                    sai reddy
Sai Reddy

In [ ]:
li = list(map(int,input().split()))
print(li)

li = list(input().split())
print(li)

10 2 3 5  868 5 95
[10, 2, 3, 5, 868, 5, 95]
10 2 3 5  868 5 95
['10', '2', '3', '5', '868', '5', '95']

In [ ]:
name = input("enter the name").strip().title()
first ,last = name.split(" ")
print(first)
print(last)

enter the namesai reddy
Sai
Reddy

In [ ]:
# it performs string the string concatination 
a = input("enter the first number")
b = input("enter the first number")
c = a+b
print(c)
20
a = int(input("enter the first number"))
b = int(input("enter the second number"))
c = a+b
print(c)

enter the first number10
enter the first number
10
enter the first number10
enter the second number20
30

In [ ]:
a = int(input("enter the first number"))
b = int(input("enter the first number"))
c = a+b
print(c)

enter the first number10
enter the first number20
30

In [ ]:
#  If two multiples are equally close, rounding is done toward the even choice.
print(round(12.5))
print(round(51.5))
print(round(11.5))
print(round(14.5))
print(round(1.5))
print(round(2.5))

12
52
12
14
2
2

In [ ]:
z = 1002201
print(f'{z:,}')

z = 1002201.2566
print(f'{z:,.2f}')

z = 1002201.2566
print(f'{z:.3f}')

1,002,201
1,002,201.26
1002201.257

In [ ]:
def main():
  name = input()
  print(name)

main()

sai
sai

In [ ]:
def hello(name="sai"):
  print(name)

name = "raju "
hello(name)
hello()

raju
sai

In [ ]:
def even(n):
  return n%2 == 0 

print(even(10))
print(even(5))

True
False

In [ ]:
# Examples of Arithmetic Operator
a = 9
b = 4
 
# Addition of numbers
add = a + b
 
# Subtraction of numbers
sub = a - b
 
# Multiplication of number
mul = a * b
 
# Modulo of both number
mod = a % b
 
# Power
p = a ** b
 
# print results
print(add)
print(sub)
print(mul)
print(mod)
print(p)

13
5
36
1
6561

In [ ]:
#The quotient returned by this operator is dependent on the argument being passed.
# If any of the numbers is float, it returns output in float. It is also known as Floor division because, if any number is negative, then the output will be floored.
print(10//3)

3

In [ ]:
# This code runs only in python 3.10 or above versions
def number_to_string(argument):
    match argument:
        case 0:
            return "zero"
        case 1:
            return "one"
        case 2:
            return "two"
        case default:
            return "something"
 

argument = 0
number_to_string(argument)

'zero'

In [ ]:
10+20

30

In [ ]:
# Python program to illustrate
# Iterating over a list
print("List Iteration")
l = ["geeks", "for", "geeks"]
for i in l:
    print(i)
 
# Iterating over a tuple (immutable)
print("\nTuple Iteration")
t = ("geeks", "for", "geeks")
for i in t:
    print(i)
 
# Iterating over a String
print("\nString Iteration")
s = "Geeks"
for i in s:
    print(i)
 
# Iterating over dictionary
print("\nDictionary Iteration")
d = dict()
d['xyz'] = 123
d['abc'] = 345
for i in d:
    print("%s  %d" % (i, d[i]))
 
# Iterating over a set
print("\nSet Iteration")
set1 = {1, 2, 3, 4, 5, 6}
for i in set1:
    print(i)

List Iteration
geeks
for
geeks

Tuple Iteration
geeks
for
geeks

String Iteration
G
e
e
k
s

Dictionary Iteration
xyz  123
abc  345

Set Iteration
1
2
3
4
5
6

In [ ]:
#The else clause is only executed when your while condition becomes false. If you break out of the loop, or if an exception is raised, it wonâ€™t be executed. 
count = 0
while (count < 3):
    count = count + 1
    print("Hello Geek")
    
else:
    print("In Else Block")

Hello Geek
Hello Geek
Hello Geek
In Else Block

In [ ]:
print("sai " * 4)
print("sai\n",end=" ")
print("sai")

sai sai sai sai
sai
 sai

In [ ]:
print("sai " * 4)
print()
print("sai\n",end=" ")
print()
print("sai")

sai sai sai sai

sai

sai

In [ ]:
print("sai)

SyntaxError: ignored

In [ ]:
try:
  x=int(input("enter the number"))
  print(x)

except ValueError:
  print("enter only numbers")

try:
  x=int(input("enter the number"))
  print(x)

except:
  print("enter only numbers")

enter the numbers
enter only numbers
enter the numbers
enter only numbers

In [ ]:
try:
  x=int(input("enter the number"))
  print(x)

except:
  print("enter only numbers")

else:
  print("this is else")

enter the numbers
enter only numbers

In [ ]:
import random

x = random.choice([1,2,3,4])
print(x)

x = choice([1,2,3,4])
print(x)

2
4

In [ ]:

from random import choice

x = choice([1,2,3,4])
print(x)

3

In [ ]:
!pip install cowsay

In [ ]:
import cowsay
cowsay.cow("hello ")

  _____
| hello |
  =====
     \
      \
        ^__^
        (oo)\_______
        (__)\       )\/\
            ||----w |
            ||     ||

In [ ]:
import cowsay
cowsay.trex("hello ")

  _____
| hello |
  =====
            \
             \
              \
               \
                  .-=-==--==--.
            ..-=="  ,'o`)      `.
          ,'         `"'         \
         :  (                     `.__...._
         |                  )    /         `-=-.
         :       ,vv.-._   /    /               `---==-._
          \/\/\/VV ^ d88`;'    /                         `.
              ``  ^/d88P!'    /             ,              `._
                 ^/    !'   ,.      ,      /                  "-,,__,,--'""""-.
                ^/    !'  ,'  \ . .(      (         _           )  ) ) ) ))_,-.\
               ^(__ ,!',"'   ;:+.:%:a.     \:.. . ,'          )  )  ) ) ,"'    '
               ',,,'','     /o:::":%:%a.    \:.:.:         .    )  ) _,'
                """'       ;':::'' `+%%%a._  \%:%|         ;.). _,-""
                       ,-='_.-'      ``:%::)  )%:|        /:._,"
                      (/(/"           ," ,'_,'%%%:       (_,'
                                     (  (//(`.___;        \
                                      \     \    `         `
                                       `.    `.   `.        :
                                         \. . .\    : . . . :
                                          \. . .:    `.. . .:
                                           `..:.:\     \:...\
                                            ;:.:.;      ::...:
                                            ):%::       :::::;
                                        __,::%:(        :::::
                                     ,;:%%%%%%%:        ;:%::
                                       ;,--""-.`\  ,=--':%:%:\
                                      /"       "| /-".:%%%%%%%\
                                                      ;,-"'`)%%)
                                                     /"      "|

In [ ]:
# A Python program to demonstrate need
# of packing and unpacking

# A sample function that takes 4 arguments
# and prints them.
def fun(a, b, c, d):
	print(a, b, c, d)

# Driver Code
my_list = [1, 2, 3, 4]

# This doesn't work
fun(my_list)

In [ ]:
# A sample function that takes 4 arguments
# and prints the,
def fun(a, b, c, d):
    print(a, b, c, d)
 
# Driver Code
my_list = (1, 2, 3, 4)
 
# Unpacking list into four arguments
fun(*my_list)

1 2 3 4

In [ ]:
# A sample program to demonstrate unpacking of
# dictionary items using **
def fun(a, b, c):
    print(a, b, c)
 
# A call with unpacking of dictionary
d = {'a':2, 'b':4, 'c':10}
fun(**d)

2 4 10

In [ ]:
# Python program to demonstrate ternary operator
a, b = 10, 20
 
# Use tuple for selecting an item
# (if_test_false,if_test_true)[test]
# if [a<b] is true it return 1, so element with 1 index will print
# else if [a<b] is false it return 0, so element with 0 index will print
print( (b, a) [a < b] )
 
# Use Dictionary for selecting an item
# if [a < b] is true then value of True key will print
# else if [a<b] is false then value of False key will print
print({True: a, False: b} [a < b])
 
# lambda is more efficient than above two methods
# because in lambda  we are assure that
# only one expression will be evaluated unlike in
# tuple and Dictionary
print((lambda: b, lambda: a)[a < b]())

10
10
10

In [ ]:
# Python program to demonstrate nested ternary operator
a, b = 10, 20

print ("Both a and b are equal" if a == b else "a is greater than b"
		if a > b else "b is greater than a")

b is greater than a

In [ ]:
# Python Program to
# demonstrate String slicing

# Creating a String
String1 = "GeeksForGeeks"
print("Initial String: ")
print(String1)

# Printing 3rd to 12th character
print("\nSlicing characters from 3-12: ")
print(String1[3:12])

# Printing characters between
# 3rd and 2nd last character
print("\nSlicing characters between " +
	"3rd and 2nd last character: ")
print(String1[3:-2])

Initial String:
GeeksForGeeks

Slicing characters from 3-12:
ksForGeek

Slicing characters between 3rd and 2nd last character:
ksForGee

In [ ]:
#Program to reverse a string
gfg = "geeksforgeeks"
print(gfg[::-1])
print(gfg[::-2])

print(gfg[-2:-6:2])
print(gfg[-2:-6:-2])

skeegrofskeeg
segoseg

ke

In [ ]:
# Python Program for
# Escape Sequencing
# of String

# Initial String
String1 = '''I'm a "Geek"'''
print("Initial String with use of Triple Quotes: ")
print(String1)

# Escaping Single Quote
String1 = 'I\'m a "Geek"'
print("\nEscaping Single Quote: ")
print(String1)

# Escaping Double Quotes
String1 = "I'm a \"Geek\""
print("\nEscaping Double Quotes: ")
print(String1)

# Printing Paths with the
# use of Escape Sequences
String1 = "C:\\Python\\Geeks\\"
print("\nEscaping Backslashes: ")
print(String1)

# Printing Paths with the
# use of Tab
String1 = "Hi\tGeeks"
print("\nTab: ")
print(String1)

# Printing Paths with the
# use of New Line
String1 = "Python\nGeeks"
print("\nNew Line: ")
print(String1)

Initial String with use of Triple Quotes:
I'm a "Geek"

Escaping Single Quote:
I'm a "Geek"

Escaping Double Quotes:
I'm a "Geek"

Escaping Backslashes:
C:\Python\Geeks\

Tab:
Hi	Geeks

New Line:
Python
Geeks

In [ ]:
# Python Program to Delete
# entire String

String1 = "Hello, I'm a Geek"
print("Initial String: ")
print(String1)

# Deleting a String
# with the use of del
del String1
print("\nDeleting entire String: ")
print(String1)

Initial String:
Hello, I'm a Geek

Deleting entire String:

NameError: ignored

In [ ]:
# Python Program for
# Formatting of Strings
 
# Default order
String1 = "{} {} {}".format('Geeks', 'For', 'Life')
print("Print String in default order: ")
print(String1)
 
# Positional Formatting
String1 = "{1} {0} {2}".format('Geeks', 'For', 'Life')
print("\nPrint String in Positional order: ")
print(String1)
 
# Keyword Formatting
String1 = "{l} {f} {g}".format(g='Geeks', f='For', l='Life')
print("\nPrint String in order of Keywords: ")
print(String1)

Print String in default order:
Geeks For Life

Print String in Positional order:
For Geeks Life

Print String in order of Keywords:
Life For Geeks

# LISTS

In [ ]:
Var = ["Geeks", "for", "Geeks"]
print(Var)

['Geeks', 'for', 'Geeks']

In [ ]:
# Python program to demonstrate
# Creation of List

# Creating a List
List = []
print("Blank List: ")
print(List)

# Creating a List of numbers
List = [10, 20, 14]
print("\nList of numbers: ")
print(List)

# Creating a List of strings and accessing
# using index
List = ["Geeks", "For", "Geeks"]
print("\nList Items: ")
print(List[0])
print(List[2])

Blank List:
[]

List of numbers:
[10, 20, 14]

List Items:
Geeks
Geeks

In [ ]:
# Creating a list with multiple distinct or duplicate elements
# Creating a List with
# the use of Numbers
# (Having duplicate values)
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("\nList with the use of Numbers: ")
print(List)
  
# Creating a List with
# mixed type of values
# (Having numbers and strings)
List = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']
print("\nList with the use of Mixed Values: ")
print(List)

List with the use of Numbers:
[1, 2, 4, 4, 3, 3, 3, 6, 5]

List with the use of Mixed Values:
[1, 2, 'Geeks', 4, 'For', 6, 'Geeks']

In [ ]:
# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['Geeks', 'For',[1,2]], ['Geeks']]
  
# accessing an element from the
# Multi-Dimensional List using
# index number
print("Accessing a element from a Multi-Dimensional list")
print(List[0][2][0])
print(List[1][0])

Accessing a element from a Multi-Dimensional list
1
Geeks

In [ ]:
List = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']

# accessing an element using
# negative indexing
print("Accessing element using negative indexing")

# print the last element of list
print(List[-1])

# print the third last element of list
print(List[-3])

Accessing element using negative indexing
Geeks
For

In [ ]:
# number of elements
n = int(input("Enter number of elements : "))
 
# Below line read inputs from user using map() function
a = list(map(int,
    input("\nEnter the numbers : ").strip().split()))[:n]
 
print("\nList is - ", a)

Enter number of elements : 3

Enter the numbers : 1 2 3

List is -  [1, 2, 3]

In [ ]:
lst = []
n = int(input("Enter number of elements : "))
 
for i in range(0, n):
    ele = [input(), int(input())]
    lst.append(ele)
 
print(lst)

Enter number of elements : 3
1
2
3
4

6
[['1', 2], ['3', 4], ['', 6]]

In [ ]:
# For list of integers
lst1 = []

# For list of strings/chars
lst2 = []

lst1 = [int(item) for item in input("Enter \
				the list items : ").split()]

lst2 = [item for item in input("Enter \
				the list items : ").split()]

print(lst1)
print(lst2)

Enter 				the list items : 3
Enter 				the list items : 2 3 5 6
[3]
['2', '3', '5', '6']

# **TUPLES**:

In [ ]:

# Creating an empty Tuple
Tuple1 = ()
print("Initial empty Tuple: ")
print(Tuple1)
 
# Creating a Tuple
# with the use of string
Tuple1 = ('Geeks', 'For')
print("\nTuple with the use of String: ")
print(Tuple1)
 
# Creating a Tuple with
# the use of list
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))


 
# Creating a Tuple
# with the use of built-in function
Tuple1 = tuple('Geeks')

print("\nTuple with the use of function: ")
print(Tuple1)

Initial empty Tuple:
()

Tuple with the use of String:
('Geeks', 'For')

Tuple using List:
(1, 2, 4, 5, 6)

Tuple with the use of function:
('G', 'e', 'e', 'k', 's')

In [ ]:
# Concatenation of tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('Geeks', 'For', 'Geeks')
 
Tuple3 = Tuple1 + Tuple2
 
# Printing first Tuple
print("Tuple 1: ")
print(Tuple1)
 
# Printing Second Tuple
print("\nTuple2: ")
print(Tuple2)
 
# Printing Final Tuple
print("\nTuples after Concatenation: ")
print(Tuple3)

Tuple 1:
(0, 1, 2, 3)

Tuple2:
('Geeks', 'For', 'Geeks')

Tuples after Concatenation:
(0, 1, 2, 3, 'Geeks', 'For', 'Geeks')

In [ ]:
Tuple2 = ('Geeks', 'For', 'Geeks','Geeks', [1, 2, 4, 5, 6])
print(Tuple2[4])
print(Tuple2)

[1, 2, 4, 5, 6]
('Geeks', 'For', 'Geeks', 'Geeks', [1, 2, 4, 5, 6])

# **Sets**

In [ ]:
#In Python, a Set is an unordered collection of data types that is iterable, mutable and has no duplicate elements
#The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.
# Python program to demonstrate
# Creation of Set in Python

# Creating a Set
set1 = set()
print("Initial blank Set: ")
print(set1)

# Creating a Set with
# the use of a String
set1 = set("GeeksForGeeks")
print("\nSet with the use of String: ")
print(set1)

# Creating a Set with
# the use of Constructor
# (Using object to Store String)
String = 'GeeksForGeeks'
set1 = set(String)
print("\nSet with the use of an Object: " )
print(set1)

# Creating a Set with
# the use of a List
set1 = set(["Geeks", "For", "Geeks"])
print("\nSet with the use of List: ")
print(set1)

Initial blank Set:
set()

Set with the use of String:
{'r', 'k', 'e', 'o', 's', 'F', 'G'}

Set with the use of an Object:
{'r', 'k', 'e', 'o', 's', 'F', 'G'}

Set with the use of List:
{'For', 'Geeks'}

In [ ]:
def create_set():
	my_set = {1, 2, 3, 4, 5}
	print(my_set)

def add_element():
	my_set = {1, 2, 3, 4, 5}
	my_set.add(6)
	print(my_set)

def remove_element():
	my_set = {1, 2, 3, 4, 5}
	my_set.remove(3)
	print(my_set)

def clear_set():
	my_set = {1, 2, 3, 4, 5}
	my_set.clear()
	print(my_set)

def set_union():
	set1 = {1, 2, 3}
	set2 = {4, 5, 6}
	my_set = set1.union(set2)
	print(my_set)

def set_intersection():
	set1 = {1, 2, 3, 4, 5}
	set2 = {4, 5, 6, 7, 8}
	my_set = set1.intersection(set2)
	print(my_set)

def set_difference():
	set1 = {1, 2, 3, 4, 5}
	set2 = {4, 5, 6, 7, 8}
	my_set = set1.difference(set2)
	print(my_set)

def set_symmetric_difference():
	set1 = {1, 2, 3, 4, 5}
	set2 = {4, 5, 6, 7, 8}
	my_set = set1.symmetric_difference(set2)
	print(my_set)

def set_subset():
	set1 = {1, 2, 3, 4, 5}
	set2 = {2, 3, 4}
	subset = set2.issubset(set1)
	print(subset)

def set_superset():
	set1 = {1, 2, 3, 4, 5}
	set2 = {2, 3, 4}
	superset = set1.issuperset(set2)
	print(superset)

if __name__ == '__main__':
	create_set()
	add_element()
	remove_element()
	clear_set()
	set_union()
	set_intersection()
	set_difference()
	set_symmetric_difference()
	set_subset()
	set_superset()

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5}
set()
{1, 2, 3, 4, 5, 6}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
True
True

# **DICTIONARY**

In [ ]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)

# Creating a Dictionary
# with dict() method
Dict = dict({1: 'Geeks', 2: 'For', 3: 'Geeks'})
print("\nDictionary with the use of dict(): ")
print(Dict)

# Creating a Dictionary
# with each item as a Pair
Dict = dict([(1, 'Geeks'), (2, 'For')])
print("\nDictionary with each item as a pair: ")
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of dict():
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

Dictionary with each item as a pair:
{1: 'Geeks', 2: 'For'}

In [ ]:
# Creating a Nested Dictionary
# as shown in the below image
Dict = {1: 'Geeks', 2: 'For',
		3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

print(Dict)

{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

In [ ]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)

# Adding elements one at a time
Dict[0] = 'Geeks'
Dict[2] = 'For'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ")
print(Dict)

# Adding set of values
# to a single Key
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ")
print(Dict)

# Updating existing Key's Value
Dict[2] = 'Welcome'
print("\nUpdated key value: ")
print(Dict)

# Adding Nested Key value to Dictionary
Dict[5] = {'Nested': {'1': 'Life', '2': 'Geeks'}}
print("\nAdding a Nested Key: ")
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1, 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4)}

Adding a Nested Key:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'Geeks'}}}

In [ ]:
# Python program to demonstrate
# accessing a element from a Dictionary

# Creating a Dictionary
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

# accessing a element using key
print("Accessing a element using key:")
print(Dict['name'])

# accessing a element using key
print("Accessing a element using key:")
print(Dict[1])

Accessing a element using key:
For
Accessing a element using key:
Geeks

In [ ]:
# Creating a Dictionary
Dict = {'Dict1': {1: 'Geeks'},
		'Dict2': {'Name': 'For'}}

# Accessing element using key
print(Dict['Dict1'])
print(Dict['Dict1'][1])
print(Dict['Dict2']['Name'])

{1: 'Geeks'}
Geeks
For

In [ ]:
# demo for all dictionary methods
dict1 = {1: "Python", 2: "Java", 3: "Ruby", 4: "Scala"}

# copy() method
dict2 = dict1.copy()
print(dict2)

# clear() method
dict1.clear()
print(dict1)

# get() method
print(dict2.get(1))

# items() method
print(dict2.items())

# keys() method
print(dict2.keys())

# pop() method
dict2.pop(4)
print(dict2)

# popitem() method
dict2.popitem()
print(dict2)

# update() method
dict2.update({3: "Scala"})
print(dict2)

# values() method
print(dict2.values())

{1: 'Python', 2: 'Java', 3: 'Ruby', 4: 'Scala'}
{}
Python
dict_items([(1, 'Python'), (2, 'Java'), (3, 'Ruby'), (4, 'Scala')])
dict_keys([1, 2, 3, 4])
{1: 'Python', 2: 'Java', 3: 'Ruby'}
{1: 'Python', 2: 'Java'}
{1: 'Python', 2: 'Java', 3: 'Scala'}
dict_values(['Python', 'Java', 'Scala'])

# **ARRAYS**

In [ ]:
import array

# Create an array of integers
my_array = array.array('i', [1, 2, 3, 4, 2, 5, 2])

# Count the number of occurrences of the element 2 in the array
count = my_array.count(2)

# Print the result
print("Number of occurrences of 2:", count)

Number of occurrences of 2: 3

# **OOPS**

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)
print(x.printname())

Mike Olsen
None

In [ ]:
#If you need to create a global variable, but are stuck in the local scope, you can use the global keyword.

#The global keyword makes the variable global.

def myfunc():
  global x
  x = 300

myfunc()

print(x)

300

In [ ]:
#If you operate with the same variable name inside and outside of a function, Python will treat them as two separate variables, 
#one available in the global scope (outside the function) and one available in the local scope (inside the function):

x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

In [ ]:
# A Simple Python program to demonstrate working
# of yield

# A generator function that yields 1 for the first time,
# 2 second time and 3 third time


def simpleGeneratorFun():
	yield 1
	yield 2
	yield 3


# Driver code to check above generator function
for value in simpleGeneratorFun():
	print(value)

1
2
3

In [ ]:
filter_nums = lambda s: ''.join([ch for ch in s if not ch.isdigit()])
print("filter_nums():", filter_nums("Geeks101"))

do_exclaim = lambda s: s + '!'
print("do_exclaim():", do_exclaim("I am tired"))

find_sum = lambda n: sum([int(x) for x in str(n)])
print("find_sum():", find_sum(101))

filter_nums(): Geeks
do_exclaim(): I am tired!
find_sum(): 2

In [ ]:
#destructors
# Python program to illustrate destructor
class Employee:

	# Initializing
	def __init__(self):
		print('Employee created.')

	# Deleting (Calling destructor)
	def __del__(self):
		print('Destructor called, Employee deleted.')

obj = Employee()
del obj

Employee created.
Destructor called, Employee deleted.

In [ ]:
# parent class
class Person():
  def __init__(self, name, age):
    self.name = name
    self.age = age
 
  def display(self):
    print(self.name, self.age)
 
# child class
class Student(Person):
  def __init__(self, name, age, dob):
    self.sName = name
    self.sAge = age
    self.dob = dob
    # inheriting the properties of parent class
    super().__init__("Rahul", age)
 
  def displayInfo(self):
    print(self.sName, self.sAge, self.dob)
 
obj = Student("Mayank", 23, "16-03-2000")
obj.display()
obj.displayInfo()

Rahul 23
Mayank 23 16-03-2000

In [ ]:
# Python example to show the working of multiple
# inheritance
 
class Base1(object):
    def __init__(self):
        self.str1 = "Geek1"
        print("Base1")
 
 
class Base2(object):
    def __init__(self):
        self.str2 = "Geek2"
        print("Base2")
 
 
class Derived(Base1, Base2):
    def __init__(self):
 
        # Calling constructors of Base1
        # and Base2 classes
        Base1.__init__(self)
        Base2.__init__(self)
        print("Derived")
 
    def printStrs(self):
        print(self.str1, self.str2)
 
 
ob = Derived()
ob.printStrs()

Base1
Base2
Derived
Geek1 Geek2

In [ ]:
# A Python program to demonstrate inheritance
 
# Base or Super class. Note object in bracket.
# (Generally, object is made ancestor of all classes)
# In Python 3.x "class Person" is
# equivalent to "class Person(object)"
 
class Base(object):
 
    # Constructor
    def __init__(self, name):
        self.name = name
 
    # To get name
    def getName(self):
        return self.name
 
 
# Inherited or Sub class (Note Person in bracket)
class Child(Base):
 
    # Constructor
    def __init__(self, name, age):
        Base.__init__(self, name)
        self.age = age
 
    # To get name
    def getAge(self):
        return self.age
 
# Inherited or Sub class (Note Person in bracket)
 
 
class GrandChild(Child):
 
    # Constructor
    def __init__(self, name, age, address):
        Child.__init__(self, name, age)
        self.address = address
 
    # To get address
    def getAddress(self):
        return self.address
 
 
# Driver code
g = GrandChild("Geek1", 23, "Noida")
print(g.getName(), g.getAge(), g.getAddress())

Geek1 23 Noida

In [ ]:
# Python program to demonstrate private members
# of the parent class
 
class C(object):
    def __init__(self):
        self.c = 21
 
        # d is private instance variable
        self.__d = 42
 
 
class D(C):
    def __init__(self):
        self.e = 84
        C.__init__(self)
      
 
object1 = D()
 
# produces an error as d is private instance variable
print(object1.c)
#print(object.__d)

NameError: ignored

In [ ]:
# Python program to
# demonstrate protected members

# Creating a base class
class Base:
	def __init__(self):

		# Protected member
		self._a = 2

# Creating a derived class
class Derived(Base):
	def __init__(self):

		# Calling constructor of
		# Base class
		Base.__init__(self)
		print("Calling protected member of base class: ",
			self._a)

		# Modify the protected variable:
		self._a = 3
		print("Calling modified protected member outside class: ",
			self._a)


obj1 = Derived()

obj2 = Base()

# Calling protected member
# Can be accessed but should not be done due to convention
print("Accessing protected member of obj1: ", obj1._a)

# Accessing the protected variable outside
print("Accessing protected member of obj2: ", obj2._a)

Calling protected member of base class:  2
Calling modified protected member outside class:  3
Accessing protected member of obj1:  3
Accessing protected member of obj2:  2

In [ ]:


# Python program to show that the variables with a value
# assigned in class declaration, are class variables

# Class for Computer Science Student
class CSStudent:
	stream = 'cse'				 # Class Variable
	def __init__(self,name,roll):
		self.name = name		 # Instance Variable
		self.roll = roll		 # Instance Variable

# Objects of CSStudent class
a = CSStudent('Geek', 1)
b = CSStudent('Nerd', 2)
c = CSStudent('sai', 3)


print(a.stream) # prints "cse"
print(b.stream) # prints "cse"
print(a.name) # prints "Geek"
print(b.name) # prints "Nerd"
print(a.roll) # prints "1"
print(b.roll) # prints "2"

# Class variables can be accessed using class
# name also
print(CSStudent.stream) # prints "cse"

# Now if we change the stream for just a it won't be changed for b
a.stream = 'ece'
print(a.stream) # prints 'ece'
print(b.stream) # prints 'cse'
b.stream = 'cse'
# To change the stream for all instances of the class we can change it
# directly from the class
CSStudent.stream = 'mech'

print(a.stream) # prints 'ece'
print(b.stream) # prints 'mech'
print(c.stream) # prints 'mech'

print(a.stream)

d = CSStudent('jaya', 3)

print(d.stream) #prints mech

cse
cse
Geek
Nerd
1
2
cse
ece
cse
ece
cse
mech
ece
mech

In [ ]:
# static and class method 
# Python program to demonstrate
# use of class method and static method.
from datetime import date


class Person:
	def __init__(self, name, age):
		self.name = name
		self.age = age

	# a class method to create a Person object by birth year.
	@classmethod
	def fromBirthYear(cls, name, year):
		return cls(name, date.today().year - year)

	# a static method to check if a Person is adult or not.
	@staticmethod
	def isAdult(age):
		return age > 18


person1 = Person('mayank', 21)
person2 = Person.fromBirthYear('mayank', 1996)

print(person1.age)
print(person2.age)

# print the result
print(Person.isAdult(22))

21
27
True